<div class="wrapper">
    <div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-10 offset-md-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
            <div class="test mx-auto">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="row">
                                <div class="col-xs-6 offset-xs-3">
                                    <div class="enter"
                                    >Вход</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="registration"
                            (click)="onOpen()"
                            >Регистрация</div>
                            <clr-wizard #wizardlg [(clrWizardOpen)]="lgOpen" clrWizardSize="lg">
                                <clr-wizard-title>Регистрация</clr-wizard-title>

                                <clr-wizard-button [type]="'cancel'">Cancel</clr-wizard-button>
                                <!--<clr-wizard-button [type]="'previous'">Back</clr-wizard-button>-->
                                <clr-wizard-button
                                    [type]="'next'"
                                >Next</clr-wizard-button>
                                <clr-wizard-button [type]="'finish'">Finish</clr-wizard-button>

                                <clr-wizard-page [clrWizardPageNextDisabled]="onNext()">
                                    <ng-template clrPageTitle>Логин & пароль</ng-template>
                                    <div class="title-credential-registration">
                                        Пожалуйста, укажите Ваш логин и пароль.
                                    </div>

                                    <form [formGroup]="userFormRegistration">
                                        <div class="xsInput">
                                            <div class="form-group row">
                                                <div class="col-xs-8 offset-xs-2">
                                                    <input
                                                        type="text"
                                                        class="form-control"
                                                        placeholder="Логин"
                                                        formControlName="emailRegistration"
                                                        [ngClass]="{'has-error': testError('emailRegistration')}"
                                                        required/>
                                                    <div *ngIf="formErrors.emailRegistration" class="invalid" [hidden]="!testError('emailRegistration')">
                                                        {{ formErrors.emailRegistration }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="xsInput">
                                            <div class="form-group row">
                                                <div class="col-xs-8 offset-xs-2">
                                                    <input
                                                        type="password"
                                                        class="form-control"
                                                        placeholder="Пароль"
                                                        formControlName="passwordRegistration1"
                                                        [ngClass]="{'has-error': testError('passwordRegistration1')}"
                                                        required/>
                                                    <div *ngIf="formErrors.passwordRegistration1" class="invalid" [hidden]="!testError('passwordRegistration1')">
                                                        {{ formErrors.passwordRegistration1 }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="xsInput">
                                            <div class="form-group row">
                                                <div class="col-xs-8 offset-xs-2">
                                                    <input
                                                        type="password"
                                                        class="form-control"
                                                        placeholder="Пароль еще раз"
                                                        [ngClass]="{'has-error': testError('passwordRegistration2')}"
                                                        formControlName="passwordRegistration2"
                                                        required/>
                                                    <div *ngIf="formErrors.passwordRegistration2" class="invalid" [hidden]="!testError('passwordRegistration2')">
                                                        {{ formErrors.passwordRegistration2 }}
                                                    </div>

                                                </div>
                                            </div>
                                        </div>

                                    </form>
                                </clr-wizard-page>

                                <clr-wizard-page>
                                    <ng-template clrPageTitle>Просмотренные фильмы</ng-template>
                                    <clr-tabs>
                                        <clr-tab>
                                            <button clrTabLink>Dashboard</button>
                                            <ng-template [(clrIfActive)]="dashboardActive">
                                                <clr-tab-content>
                                                    <div class="container">
                                                        <div class="row">
                                                            <ng-container *ngFor="let item of items">
                                                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-6">
                                                                    <div class="my-checkbox">
                                                                        <div class="checkbox">
                                                                            <input type="checkbox" id="{{item.title}}">
                                                                            <label for="{{item.title}}">{{item.title}}</label>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </ng-container>
                                                        </div>
                                                    </div>
                                                </clr-tab-content>
                                            </ng-template>
                                        </clr-tab>

                                        <clr-tab>
                                            <button clrTabLink>Management</button>
                                            <ng-template [(clrIfActive)]="managementActive">
                                                <clr-tab-content>
                                                    Management
                                                </clr-tab-content>
                                            </ng-template>
                                        </clr-tab>

                                        <clr-tab>
                                            <button clrTabLink>Cloud</button>
                                            <ng-template [(clrIfActive)]="cloudActive">
                                                <clr-tab-content>
                                                    Cloud
                                                </clr-tab-content>
                                            </ng-template>
                                        </clr-tab>

                                        <clr-tab>
                                            <button clrTabLink>Infrastructure</button>
                                            <ng-template [(clrIfActive)]="infrastructureActive">
                                                <clr-tab-content>
                                                    Infrastructure
                                                </clr-tab-content>
                                            </ng-template>
                                        </clr-tab>
                                    </clr-tabs>
                                </clr-wizard-page>

                                <clr-wizard-page>
                                    <ng-template clrPageTitle>Page 3</ng-template>
                                    ...
                                </clr-wizard-page>
                            </clr-wizard>
                        </div>
                    </div>
                </div>

                <div class="card-block">
                    <div *ngIf="error" class="alert alert-danger">
                            <div class="alert-items">
                                <div class="alert-item static">
                                    <span class="alert-text">
                                            {{error}}
                                    </span>
                                </div>
                            </div>
                        </div>
                    <form *ngIf="isEnter" [formGroup]="userForm">

                        <div class="xsInput">
                            <div class="form-group row">
                                <div class="col-xs-8 offset-xs-2">
                                    <input
                                        type="text"
                                        class="form-control"
                                        formControlName="email"
                                        placeholder="Логин"
                                        [ngClass]="{'has-error': isFieldInvalid('email')}"
                                        required/>
                                    <div *ngIf="formErrors.email" class="invalid" [hidden]="!FieldInValid">
                                        {{ formErrors.email }}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row justify-content-md-center">
                            <div class="col-sm">
                                <div class="xsInput">
                                    <div class="form-group row">
                                        <div class="col-xs-8 offset-xs-2">
                                            <input
                                                type="password"
                                                class="form-control"
                                                placeholder="Пароль"
                                                formControlName="password"
                                                [ngClass]="{'has-error': isFieldInvalid('password')}"
                                                required/>
                                            <div *ngIf="formErrors.password" class="invalid" [hidden]="!isFieldInvalid('password')">
                                                {{ formErrors.password }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row justify-content-md-center">
                            <div class="col-xs-12 text-center">
                                <button
                                    type="button"
                                    class="btn btn-lg btn-default"
                                    [disabled]="!formEnable"
                                    (click)="onSubmit()">Войти
                                </button>
                            </div>
                        </div>

                    </form>

                    <!--<form [formGroup]="userFormRegistration">-->
                        <!--<div class="xsInput">-->
                            <!--<div class="form-group row">-->
                                <!--<div class="col-xs-8 offset-xs-2">-->
                                        <!--<input-->
                                        <!--type="text"-->
                                        <!--class="form-control"-->
                                        <!--placeholder="Логин"-->
                                        <!--formControlName="emailRegistration"-->
                                        <!--required/>-->
                                 <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->

                        <!--<div class="xsInput">-->
                                <!--<div class="form-group row">-->
                                    <!--<div class="col-xs-8 offset-xs-2">-->
                                            <!--<input-->
                                            <!--type="password"-->
                                            <!--class="form-control"-->
                                            <!--placeholder="Пароль"-->
                                            <!--formControlName="passwordRegistration1"-->
                                            <!--required/>-->
                                     <!--</div>-->
                                <!--</div>-->
                        <!--</div>-->

                        <!--<div class="xsInput">-->
                                <!--<div class="form-group row">-->
                                    <!--<div class="col-xs-8 offset-xs-2">-->
                                            <!--<input-->
                                            <!--type="password"-->
                                            <!--class="form-control"-->
                                            <!--placeholder="Пароль еще раз"-->
                                            <!--formControlName="passwordRegistration2"-->
                                            <!--required/>-->
                                     <!--</div>-->
                                <!--</div>-->
                        <!--</div>-->

                        <!--<div class="row justify-content-md-center">-->
                                <!--<div class="col-xs-12 text-center">-->
                                    <!--<button-->
                                        <!--type="button"-->
                                        <!--class="btn btn-lg btn-default"-->
                                        <!--[disabled]="!formEnable"-->
                                        <!--(click)="onRegistration()">Регистрация-->
                                    <!--</button>-->
                                <!--</div>-->
                            <!--</div>-->
                    <!--</form>-->

                </div>
            </div>
            </div>
        </div>
    </div>
    </div>
</div>
