<div class="container" *ngIf="movie">
    <div class="row">
        <div class="col-xs-12">
            <div class="card">
                <div class="card-block">

                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-12 col-lg-12 col-xl-5">
                            <img src="{{movie.img}}"/>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-12 col-lg-12 col-xl-7">
                            <div class="my-card-text">
                                <div class="title">
                                    <h4>{{movie.title}}</h4>
                                    <clr-icon shape="star" class="is-solid my-star"></clr-icon>
                                    <clr-icon shape="star" class="is-solid my-star"></clr-icon>
                                    <clr-icon shape="star" class="is-solid my-star"></clr-icon>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam consectetur doloremque dolores magni, placeat possimus rerum sint veritatis vitae voluptate!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
