.carousel{
   margin-top:35px;
}

.my-panel {
    padding-bottom: 0;
    margin-bottom: 0;
    margin-left: 10px;
    margin-right: 10px;
    height: 200px;
}
// start btn carousel

.leftRs {
    position: absolute;
    margin:auto auto auto 10px;
    top: 0;
    width: 50px;
    height: 200px;
    border-radius: 4px;
    border: 0;
    left: 0;
    opacity: 0.7;
    background: linear-gradient(to left, rgba(255,255,255,0), grey);
}

.leftRs:hover {
    position: absolute;
    margin:auto auto auto 10px;
    top: 0;
    width: 50px;
    height: 200px;
    border-radius: 4px;
    border: 0;
    left: 0;
    opacity: 0.7;
    background: linear-gradient(to left, #eeeeee, #dadada);
    cursor:pointer;
}

.rightRs {
    position: absolute;
    margin:auto 10px auto auto;
    top: 0;
    width: 50px;
    height: 200px;
    border-radius: 4px;
    border: 0;
    right: 0;
    opacity: 0.7;
    background: linear-gradient(to right, rgba(255,255,255,0), grey);
}
.rightRs:hover {
    position: absolute;
    margin:auto 10px auto auto;
    top: 0;
    width: 50px;
    height: 200px;
    border-radius: 4px;
    border: 0;
    right: 0;
    opacity: 0.7;
    background: linear-gradient(to right, #eeeeee, #dadada);
    cursor:pointer;
}
//end btn carousel
.home-wrapper{
    background:#f6f6f6;
    padding-bottom: 70px;
}

.card-block{
    padding:10px;
}

.title{
    text-align:center;
}

.title h4{
    font-weight: bold;
    margin-top:0 !important;
}

.title h4:hover{
    color:#004661;
    cursor:pointer;
}

.my-star{
    margin-top:5px;
    color:yellow;
}

img{
    display: block;
    width: 100%;
    height: 200px;
}

img:hover{
    -webkit-filter: opacity(75%);
    cursor:pointer;
}

.my-card-text{
}

.btn-more{
    color:blue;
    margin-top:35px;
}

.btn-more:hover{
    color:black;
    cursor:pointer;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .btn-more{
        color:red;
        margin-top:25px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {

    .my-card-text{
        margin-top:15px;
    }

    .btn-more{
        color:blue;
        margin-top:25px;
    }
}
