.carousel{
   margin-top:35px;
}

.my-panel {
    height: 200px;
}

//.panel img{
//    display: block;
//    width: 200px;
//    height: 200px;
//}
// start btn carousel

.leftRs {
    position: absolute;
    margin:auto auto auto 10px;
    top: 0;
    width: 50px;
    height: 200px;
    border-radius: 4px;
    border: 0;
    left: 0;
    opacity: 0.7;
    background: linear-gradient(to left, rgba(255,255,255,0), grey);
}

.leftRs clr-icon{
    color:yellow;
}

.leftRs:hover {
    position: absolute;
    margin:auto auto auto 10px;
    top: 0;
    width: 50px;
    height: 200px;
    border-radius: 4px;
    border: 0;
    left: 0;
    opacity: 0.7;
    background: linear-gradient(to left, rgba(255,255,255,0), grey);
}

.rightRs {
    position: absolute;
    margin:auto 10px auto auto;
    top: 0;
    width: 50px;
    height: 200px;
    border-radius: 4px;
    border: 0;
    right: 0;
    opacity: 0.7;
    background: linear-gradient(to right, rgba(255,255,255,0), grey);
}
.rightRs:hover {
    position: absolute;
    margin:auto 10px auto auto;
    top: 0;
    width: 50px;
    height: 200px;
    border-radius: 4px;
    border: 0;
    right: 0;
    opacity: 0.7;
    background: linear-gradient(to right, rgba(255,255,255,0), grey)
}
//end btn carousel
.home-wrapper{
    background:#f6f6f6;
}

.title{
    text-align:center;
}

.title h4{
    font-weight: bold;
}

.title h4:hover{
    color:#004661;
    cursor:pointer;
}

.my-star{
    color:yellow;
}

img{
    display: block;
    width: 90%;
    height: 200px;
    margin:10px 5px 10px 5px;
}

img:hover{
    -webkit-filter: opacity(75%);
    cursor:pointer;
}

.my-card-text{
    margin: 10px 0;
}

.btn-more{
    margin-top:25px;
    color:blue;
}

.btn-more:hover{
    color:black;
    cursor:pointer;
}

